h3 {
  font-size: 1.5em;
  text-align: center;
}

ul {
  width: 95%;
  margin: auto;
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 1.2em;
  background-color: #eee;
  border-width: 0 5px;
  border-color: #CCCC9A;
  border-style: solid;
  margin-bottom: 2px;
  padding-left: 20px;
}

p {
  margin-left: 20px;
}

li:hover {
  background-color: #ccc;
  border-color: #aaaa88;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.buttons-div {
  width: 96%;
  margin: auto;
}

.list {
  width: 100%;
  padding: 1em;
  float: left;
  background-color: #ddd;
  border-radius: 10px;
}

.input {
   display: block;
   width: 90%;
   padding: .5em;
   margin: auto;
   border-radius: 3px;
}

.completed {
  text-decoration: line-through;
  background-color: #bbb;
  border-color: #999967;
}

.button {
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
  width: 24%;
  background-color: #CCCC9A;
  border-radius: 3px;
  margin-left: 3px;
}

.button:hover {
  background-color: #999967;
}

.hidden {
  display: none;
}
